# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# Database
*.sqlite3
*.db

# Django
local_settings.py
*.log
staticfiles/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
